/*stylesheet*/

.logo {
    height: 92px;
    width: 272px;
    padding-top: 109px;
    margin: auto;
}

.form {
    height: 44px;
    width: 632px;
    border: 1px solid gray;
    opacity: 0.2;
    border-radius: 2px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 2px 10px 5px -8px black;
}
.form:hover {
    height: 44px;
    width: 632px;
    border: 1px solid gray;
    opacity: 0.2;
    border-radius: 2px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 2px 10px 5px -5px black;
}

input {
    width: 503px;
    height: 34px;
    padding: 0;
    margin: 0;
    border: none;
    border-color: transparent;
    outline: none;
    font: 16px arial,sans-serif;
    line-height: 34px;
    height: 34px !important;
    position: absolute;
}